spring:
  datasource:
    url: jdbc:h2:tcp://localhost/~/nolook
    username: sa
    password: 1234
    driver-class-name: org.h2.Driver

  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        show_sql: true
        format_sql: true